.cart{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}

.cart-item{

    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    font-weight: bolder;
    border: 1px solid black;
    padding: 20px;
    list-style: decimal;
    
}

.cart-item button{

    background-color: red;
    /* border: 1px solid black; */
    height: 50px;
    color: white;
    width: 100px;
    border-radius: 5px;
}