*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.nav{

   
   display: flex;
   justify-content: space-between;
   background-color: whitesmoke;
   box-shadow: 1px black;
   align-items: center;
   padding: 10px;
   height: 60px;
   
}

.listItems{

    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-right: 20px;
    font-weight: 500;
    justify-content: center;
}

.logo{

    width: 100px;
    /* height: 100px; */
    height: 70px;
    display: flex;
    align-items: center;
}

.logo img{

    width: 100%;
    height: 80%;
    
}

.btn{

    margin-left: 10px;
    width: 50px;
    height: 30px;
}

